*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}
body{
    background-color:rgb(247,248,252);
}
.bg-shine{
    background-color:rgb(247,248,252);
}
.gradient-1{
    background: #3398fb;
    background: -moz-linear-gradient(left, #3398fb 0%, #8553ee 100%);
    background: -webkit-linear-gradient(left, #3398fb 0%, #8553ee 100%);
    background: linear-gradient(to right, #3398fb 0%, #8553ee 100%);
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
}
.gradient-2 {
    background: #36e1b4;
    background: -moz-linear-gradient(left, #36e1b4 0%, #11cae7 100%);
    background: -webkit-linear-gradient(left, #36e1b4 0%, #11cae7 100%);
    background: linear-gradient(to right, #36e1b4 0%, #11cae7 100%);
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
}
  
  .gradient-3 {
    background: #ffbf31;
    background: -moz-linear-gradient(left, #ffbf31 0%, #ff890e 100%);
    background: -webkit-linear-gradient(left, #ffbf31 0%, #ff890e 100%);
    background: linear-gradient(to right, #ffbf31 0%, #ff890e 100%);
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
}   
  
  .gradient-4 {
    background: #23bdb8;
    background: -moz-linear-gradient(-45deg, #23bdb8 0%, #43e794 100%);
    background: -webkit-linear-gradient(-45deg, #23bdb8 0%, #43e794 100%);
    background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%);
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
}  
  
  .gradient-5 {
    background: #9a56ff;
    background: -moz-linear-gradient(-45deg, #9a56ff 0%, #e36cd9 100%);
    background: -webkit-linear-gradient(-45deg, #9a56ff 0%, #e36cd9 100%);
    background: linear-gradient(135deg, #9a56ff 0%, #e36cd9 100%); 
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
}  

  .gradient-6 {
    background: #f48665;
    background: -moz-linear-gradient(-45deg, #f48665 0%, #fda23f 100%);
    background: -webkit-linear-gradient(-45deg, #f48665 0%, #fda23f 100%);
    background: linear-gradient(135deg, #f48665 0%, #fda23f 100%);
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
}
  
  .gradient-7 {
    background: #e36cd9;
    background: -moz-linear-gradient(-45deg, #e36cd9 0%, #fe60ae 100%);
    background: -webkit-linear-gradient(-45deg, #e36cd9 0%, #fe60ae 100%);
    background: linear-gradient(135deg, #e36cd9 0%, #fe60ae 100%);
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
}
  
  .gradient-8 {
    background: #a15cff;
    background: -moz-linear-gradient(left, #a15cff 0%, #ce82fd 100%);
    background: -webkit-linear-gradient(left, #a15cff 0%, #ce82fd 100%);
    background: linear-gradient(to right, #a15cff 0%, #ce82fd 100%);
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
}
  
  .gradient-9 {
    background: linear-gradient(87deg, #f5365c 0, #f56036 100%) !important; 
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
}
  
  .gradient-10 {
    background: linear-gradient(87deg, #11cdef 0, #1171ef 100%) !important;
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative; 
}
  
  .gradient-11 {
    background: linear-gradient(87deg, #2dce89 0, #2dcecc 100%) !important; 
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
}
  
  .gradient-12 {
    background: linear-gradient(87deg, #942c14 0, #e60c0c 100%) !important; 
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
}
  
  .gradient-13 {
    background: #000428;
    background: -webkit-linear-gradient(to right, #004e92, #000428);
    background: linear-gradient(to right, #004e92, #000428);
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
}
  
  .gradient-14 {
    background: #DA4453;
    background: -webkit-linear-gradient(to right, #89216B, #DA4453);
    background: linear-gradient(to right, #89216B, #DA4453); 
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
}
  
  .gradient-15 {
    background: #8E2DE2;
    background: -webkit-linear-gradient(to left, #4A00E0, #8E2DE2);
    background: linear-gradient(to left, #4A00E0, #8E2DE2);
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
}
  
  .gradient-16 {
    background: #11998e;
    background: -webkit-linear-gradient(to right, #38ef7d, #11998e);
    background: linear-gradient(to right, #38ef7d, #11998e); 
    border-radius: 50%;
    height: 50px;
    width:50px;
    position:relative;
}
.gradient-1 i, .gradient-2 i, .gradient-3 i, .gradient-4 i, .gradient-5 i, .gradient-6 i, .gradient-7 i{

    color:white;
    position: absolute;
}
.gradient-8 i, .gradient-9 i, .gradient-10 i, .gradient-11 i, .gradient-12 i, .gradient-13 i{
    color:white;
    position: absolute;
}
.gradient-14 i, .gradient-15 i, .gradient-16 i{
    color:white;
    position: absolute;
}
.text-color{
    color:#AEAED5;
}
.text-size{
    font-size: 1.4rem;
}
.border{
    border-radius: 10px;
}
.icon{
    width: 3rem;
    height: 3rem;
    max-width: 100%;
    flex: 0 0 auto;
    margin-right: 15px;
    display: inline-flex;
    padding: 7px;
    text-align: center;
    border-radius: 50%;
    align-items: center;
    justify-content: center; 
}
.world-widget{
    display: flex;
    padding: 20px 0;
    margin-bottom: 20px;

}
.total_caces{
    font-weight: lighter;
}
.margin{
    margin:0.9rem 0.1rem;
}
.border{
    border:1px solid rgba(255,255,255,0.1) !important;
}
.shadow-box{
    box-shadow:5px 5px 20px rgba(0,0,0,0.1);
}
.DataTable{
    margin-top:10rem;
    justify-content: center;
}
.map-color{
    fill: rgba(0,0,0,0.2) !important;
}
.table-Data
{
    margin-top:5rem;
}
.table-row{
    margin:0 0 !important;
    max-width:10px !important;
}
table.dataTable tbody th, table.dataTable tbody td
{
    max-width:0;
}
table.dataTable tbody td{

}


.dataTables_wrapper .dataTables_paginate .paginate_button.disabled,
 .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:hover,
 .dataTables_wrapper .dataTables_paginate .paginate_button.disabled:active{
    color:#007bff!important;
}
.dataTables_wrapper .dataTables_paginate .paginate_button.disabled{
    color:#6c757d!important;
}
.dataTables_wrapper .dataTables_length {
    margin-bottom:2rem;
}


/* Media queries */

@media (min-width: 768px){
    .icon{
        width:2rem;
        height:2rem;
    }
    .text-size{
        font-size: 1rem;
        margin-left: 0;
    }
    i{
        font-size:0.7rem;
    }
}
svg{
overflow:scroll !important;
}