.opacity-1{
}
.search-upper{
    width:1px;
    height:20px;
    background-color:rgba(0,0,0,0.2);
}
.map-margin{
        margin-left: -250px;
}
.datamaps-hoverover{
   margin-left: -250px;
}
.dataTables_wrapper{
    z-index:999;
}
input[type="search" i]{
    overflow:hidden !important;
    white-space:nowrap !important;
    border-right:4px solid rgba(0,0,0,0.5);
    width:22ch;
}
@keyframes writer{
    0%{
        width:0ch;
    }
    100%{
    width:22ch;
    }
}
@media (max-width:768px){
 .dataTables_wrapper{
    z-index:999;
    overflow:scroll;
}
}
