{% load humanize %}
<div class="container">
    <div class="row">
        <div class="col d-flex">
            Last Update:
            <p class="text-primary ml-4">
                {{global_data_new.date|date:"d M Y"}} ({{global_data_new.date|naturaltime}})
            </p>
        </div>
    </div>
    <p class="text-uppercase text-primary h2 ">Global cases</p>
    <div class="row">

        <div class="col-xl-5 col-lg-5 col-md-5 col-sm-12">
            <div class="row bg-shine">
                <div class="col-xl-6 col-xl-5 col-lg-5 col-md-5 col-md-6 col ml-2 bg-white border shadow-box margin">

                    <div class="world-widget">
                        <div class="icon gradient-1">
                            <i class="fas fa-users"></i>
                        </div>
                        <div>
                            <h5 class="text-color text-size">Total Cases</h5>
                            <h2 class="text-muted h4" id="total_cases">
                                {{global_data_new.totalConfirmed|intword|upper|slice:":6"}}</h2>
                        </div>
                    </div>
                </div>
                <!-- 1 -->
                <div class="col-xl-5 col-lg-5 col-md-6 col bg-white ml-2 shadow-box border margin">
                    <div class="world-widget">
                        <div class="icon gradient-9">
                            <i class="fas fa-procedures"></i>
                        </div>
                        <div>
                            <h5 class="text-color text-size">Total Deaths</h5>
                            <h2 class="text-muted h4" id="total_deaths">
                                {{global_data_new.totalDeaths|intword|upper|slice:':5'}}</h2>
                        </div>
                    </div>
                </div>

                <!-- 2 -->
                <div class="col-xl-5 col-lg-5 col-md-6 col bg-white ml-2 shadow-box border margin">
                    <div class="world-widget">
                        <div class="icon gradient-4">
                            <i class="fas fa-bell"></i>
                        </div>
                        <div>
                            <h5 class="text-color text-size">New Cases</h5>
                            <h2 class="text-muted h4" id="new_cases">{{global_data_new.newConfirmed|intword}}</h2>
                        </div>
                    </div>
                </div>

                <!-- 3 -->
                <div class="col-xl-6 col-lg-5 col-md-5 col ml-2 bg-white shadow-box border margin">

                    <div class="world-widget">
                        <div class="icon gradient-9">
                            <i class="fas fa-child"></i>
                        </div>
                        <div>
                            <h5 class="text-color text-size">Total Recovered</h5>
                            <h2 class="text-muted h4" id="total_recovered">
                                {{global_data_new.totalRecoverd|intword|upper|slice:':6'}}</h2>
                        </div>
                    </div>
                </div>

                <!-- 4 -->
                <div class="col-xl-6 col-lg-5 col-md-5 col ml-2 bg-white shadow-box border margin">
                    <div class="world-widget">
                        <div class="icon gradient-12">
                            <i class="fas fa-medkit"></i>
                        </div>
                        <div>
                            <h5 class="text-color text-size">New Recovered</h5>
                            <h2 class="text-muted h4" id="new_recovered">
                                {{global_data_new.newRecovered|intword|upper}}</h2>
                        </div>
                    </div>

                </div>

                <!-- 5 -->
                <div class="col-xl-5 col-lg-5 col-md-6 col ml-2 bg-white shadow-box border margin">
                    <div class="world-widget">
                        <div class="icon gradient-3">
                            <i class="fas fa-bed"></i>
                        </div>
                        <div>
                            <h5 class="text-color text-size"> New Deaths </h5>
                            <h2 class="text-muted h4" id="new_deaths">{{global_data_new.newDeaths|intword|upper}}</h2>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <!-- Map area -->
        <div class="col-xl-7 col-lg-7 col-md-7 col-sm-12 bg-white border shadow-box">
            <div class="map-margin" id="india" style="height: 600px; width: 900px;"></div>
        </div>
        <!-- End of map area -->
    </div>
</div>