{% extends 'base.html' %}
{% load humanize %}
{% load static %}
{% block title %} {% if total %} India {% else %}{{country.country}} {% endif %} {% endblock %}
{% block css %}
<link href="{% static 'covid/css/indiadata.css' %}" rel="stylesheet">
{% endblock %}
{% block content %}
{% include 'covid/navbar.html' %}
<div class="container-fluid">
    <div class="row">
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col">
            <div class="row">
                <p class="offset-4 text-muted">Search your disctrict or state</p>
                <span class="offset-6 mb-1 search-upper d-none d-sm-inline-block"></span>
                <div class="input-group mb-3 shadow mb-5 p-2 ml-4 mr-4 rounded dataTables_filter">
                    <input area-controls="table_id" aria-describedby="table_id_info"
                           class="form-control border-0 search" placeholder="Type city name" type="search">
                    <div class="input-group-append">
                        <button class="btn border-0" type="button"><i class="fas fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="row">
                {% if total %}
                {% include 'covid/IndiaData.html' %}
                {% else %}
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2 col">
                    <!--    Card Area    -->
                    <div class="card alert-danger border-0 w-100">
                        <div class="card-body">
                            <h5 class="card-title">Confirmed</h5>
                            <small class="text-muted counterUp today">{{country.newConfirmed}}</small>
                            <p class="card-text h2">
                                {{country.totalConfirmed|intword|slice:":6"|upper}}
                            </p>

                        </div>
                    </div>
                    <!--    End - card Area  -->
                </div>
                {% if country.active %}
                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2 col ">
                    <!--    Card Area    -->
                    <div class="card alert-primary border-0 w-100">
                        <div class="card-body">
                            <h5 class="card-title">Active</h5>
                            <small class="text-muted counterUp today">{{total.active}}</small>
                            <p class="card-text counterUp h3">
                                {{total.active|intword}}
                            </p>
                        </div>
                    </div>
                    <!--    End - card Area  -->
                </div>
                {% endif %}

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2 col">
                    <!--    Card Area    -->
                    <div class="card alert-success border-0 w-100">
                        <div class="card-body">
                            <h5 class="card-title">Recovered</h5>
                            <small class="text-muted counterUp today">{{country.newRecovered}}</small>
                            <p class="card-text h2">
                                {{country.totalRecoverd|intword|slice:":6"|upper}}
                            </p>
                        </div>
                    </div>
                    <!--    End - card Area  -->
                </div>

                <div class="col-xl-3 col-lg-3 col-md-3 col-sm-2 col">
                    <!--    Card Area    -->
                    <div class="card alert-secondary border-0 w-100">
                        <div class="card-body">
                            <h5 class="card-title">Deaths</h5>
                            <small class="text-muted counterUp today">{{country.newDeaths}}</small>
                            <p class="card-text counterUp h3">
                                {{country.totalDeaths|intword|slice:":6"|upper}}
                            </p>
                        </div>
                    </div>
                    <!--    End - card Area  -->
                </div>
                {% endif %}
            </div>

            <!--     Data table show with in the gap       -->

            <div class="row mt-5">
                {% if total %}
                <div class="col-xl-12 col-lg-12 col-md-12">
                    <div class="container shadow p-4  bg-white shadow-box table-Data">
                        <table class="display table table-hover" id="table_id">
                            <thead>
                            <tr class="bg-primary text-white">
                                <th>State</th>
                                <th>Total Confirmed</th>
                                <th>Total Deaths</th>
                                <th>Total Recoverd</th>
                                <th>Date</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for India_Data in indiadata %}
                            {% if India_Data.state == "" %}
                            {% comment %} not show{% endcomment %}
                            {% else %}
                            <tr>

                                <td>{{India_Data.state}}</td>
                                <td>{{India_Data.confirmed}}</td>
                                <td>{{India_Data.deaths}}</td>
                                <td>{{India_Data.recovered}}</td>
                                <td>{{India_Data.last_update_time|date:"d M Y"}}</td>

                            </tr>
                            {% endif %}
                            {% endfor %}

                            </tbody>
                        </table>
                    </div>
                    <!-- End of the Table Data -->
                </div>
                {% else %}
                    <p class="text-secondary ml-5">Sorry the Table only available for India And global Only</p>
                {% endif %}
            </div>



        </div>
        <div class="col-xl-6 col-lg-6 col-md-6 col-sm-12 col">
            <div class="row">
                <div class="col-xl-12 col-lg-12 col-md-12 col">
                    <div class="row">
                        <div class="col">
                            <p class="h2 alert-danger text-danger w-50 text-center rounded pt-1 pb-1">
                                {{country.country|capfirst}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            {% if total %}
                            <small class="text-muted">Last Update on {{total.last_update_time|date:"d M Y , h:i A"}}
                                ({{total.last_update_time|naturaltime}})</small>
                            {% else %}
                            <small class="text-muted">Last Update on {{country.date|date:"d M Y , h:i A"}}
                                ({{country.date|naturaltime}})</small>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    {{map|safe}}
                </div>

            </div>
        </div>
    </div>

</div>
{% endblock %}

{% block js %}

<script>
$(".counterUp").counterUp({delay:10,time:1000});

var typed = new Typed(".search",{
    strings:['Type City name',''],
    typeSpeed:30,
    backDelay: 900,
    backSpeed: 30,
    // show cursor
	showCursor: true,
    cursorChar: "|",
});
$(document).ready( function () {
    let data = $('#table_id').DataTable({
    "lengthMenu": [[3, 10, 25, 50, -1], [3, 10, 25, 50, "All"]],
    });
    $(".search").keyup(function(){
    data.search($(this).val()).draw();
    });
    $("#table_id_filter").addClass("d-none");
} );

</script>
{% endblock %}