{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
{{block.super}}
{% endblock %}
{% block css %}
<link href="{% static 'covid/css/dashboard.css' %}" rel="stylesheet">
<link href="{% static 'covid/images/COVID-19.png' %}" rel="shortcut icon" type="image/x-icon">
{% endblock %}
{% block content %}

{% include 'covid/navbar.html' %}
{% include 'covid/content.html' %}
{% include 'covid/TableData.html' %}
<!--    <div id="canada" style="height: 600px; width: 900px;"></div>-->
{% endblock %}


{% block js %}

<script src="https://cdn.datatables.net/responsive/2.2.6/js/dataTables.responsive.min.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.3.2/js/dataTables.fixedColumns.min.js"></script>

{% endblock %}