{% extends 'base.html' %}
{% load static %}
{% load humanize %}
{% block title %}
{{block.super}}
{% endblock %}
{% block css %}
<link href="{% static 'covid/css/dashboard.css' %}" rel="stylesheet">
<link href="{% static 'covid/images/COVID-19.png' %}" rel="shortcut icon" type="image/x-icon">
{% endblock %}
{% block content %}

{% include 'covid/navbar.html' %}
{% include 'covid/content.html' %}
{% include 'covid/TableData.html' %}
<!--    <div id="canada" style="height: 600px; width: 900px;"></div>-->
{% endblock %}


{% block js %}
<script src="{% static 'covid/js/map.js' %}"></script>
<script src="{% static 'covid/js/dashboard.js' %}"></script>
<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="http://d3js.org/topojson.v1.min.js"></script>
<!--<script src="https://rawgit.com/Anujarya300/bubble_maps/master/data/geography-data/datamaps.none.js"></script>-->
<script src="{% static 'covid/js/worldMap.js' %}"></script>
<script>
$(document).ready(function(){
   // example data from server

    // render map
     var bubble_map = new Datamap({
    element: document.getElementById('india'),
    scope: 'world',
    geographyConfig: {
        popupOnHover: true,
        highlightOnHover: true,
        borderColor: '#444',
        borderWidth: 0.5,
    },
    fills: {
        'MAJOR': '#306596',
        'MEDIUM': '#0fa0fa',
        'MINOR': '#bada55',
        defaultFill: '#dddddd'
    },
    data: {
        'JH': { fillKey: 'MINOR' },
        'MH': { fillKey: 'MINOR' }
    },
    setProjection: function (element) {
        var projection = d3.geo.mercator()
            .center([78.9629, 23.5937]) // always in [East Latitude, North Longitude]
            .scale(element.clientWidth/7)
            .translate([((element.clientWidth)/2)+200,((element.clientHeight)/2)+60]);
        var path = d3.geo.path().projection(projection);
        return { path: path, projection: projection };
    }
});
let bubbles = [
    {% for data in countries_data_new %}
    {% if data.countryCode == "FM" or data.countryCode == "SG" or data.countryCode == "SC" or data.countryCode == "ST" or data.countryCode == "SM" or data.countryCode == "WS" or data.countryCode == "VC" or data.countryCode == "LC" or data.countryCode == "KN" or data.countryCode == "PS" or data.countryCode == "MC" or data.countryCode == "MU" or data.countryCode == "MH" or data.countryCode == "MT" or data.countryCode == "MV" or data.countryCode == "LI" or data.countryCode == "LA" or data.countryCode == "VA" or data.countryCode == "GD" or data.countryCode == "DM" or data.countryCode == "CI" or data.countryCode == "KM" or data.countryCode == "CV" or data.countryCode == "BB" or data.countryCode == "BH" or data.countryCode == "AG" or data.countryCode == "AD" %}
        {% comment %} not data {% endcomment %}
    {% else %}
    {
        centered: "{{data.countryCode}}",
        fillKey: "MAJOR",
        radius: 10,
        state: "{{data.country}}",
        confirmed:{{data.totalConfirmed}},
        deaths:{{data.totalDeaths}},
        recovered:{{data.totalRecoverd}},
        new_confirmed:{{data.newConfirmed}},
        new_deaths:{{data.newDeaths}},

    },
    {% endif %}
    {% endfor %}

]
// // ISO ID code for city or <state></state>
setTimeout(() => { // only start drawing bubbles on the map when map has rendered completely.
    bubble_map.bubbles(bubbles, {
        popupTemplate: function (geo, data) {
            return `<div class="hoverinfo">city: ${data.state}<br> Confirmed:${data.confirmed}<br> deaths:${data.deaths}<br> recovered:${data.recovered}<br> </div>`;
        }
    });
}, 1000);
   });

</script>

{% endblock %}