<div class="container-fluid bg-white mb-5 pb-2 pt-2 shadow sticky-top top-fixed">
    <nav class="navbar navbar-expand-md navbar-light bg-white ">
        <a class="navbar-brand" href="{% url 'COVID-19:search_country' %}">COVID-19</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-target="#navbarSupportedContent" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="{% url 'COVID-19:search_country' %}">Home <span
                            class="sr-only">(current)</span></a>
                </li>

                <form action="{% url 'COVID-19:search_country' %}" method="POST" autocomplete="off">
                    {% csrf_token %}
                    <div class="input-group  ml-4 mr-4 rounded">

                        {% for form in searchform %}
                        {{form}}
                        {% endfor %}
                        <div class="input-group-prepend">
                            <button class="btn border-0" type="submit">
                                <i class="fas fa-search"></i>
                            </button>
                        </div>
                    </div>
                    <div id="list_search" class="d-none d-sm-none">
                    </div>
<!--                    <div id="list_search">-->
<!--                        <li href="#blog">Blog</li>-->
<!--                        <li href="#contact">Contact</li>-->
<!--                        <li href="#custom">Custom</li>-->
<!--                        <li href="#support">Support</li>-->
<!--                        <li href="#tools">Tools</li>-->
                </form>
                <li class="nav-item ml-5">
                    <a class="nav-link" href="#">Statistics</a>
                </li>
            </ul>
        </div>
    </nav>
</div>