<div class="container border p-4 bg-white shadow-box table-Data">
    <table class="display table table-hover" id="table_id">
        <thead>
        <tr class="bg-primary text-white">
            <th>serial</th>
            <th>Country</th>
            <th>Cases</th>
            <th>new Cases</th>
            <th>deaths</th>
            <th>Recovered</th>
        </tr>
        </thead>
        <tbody>
        <tr>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td>Row 1 Data 2</td>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td>Row 1 Data 2</td>
        </tr>
        <tr>
            <td>Row 2 Data 1</td>
            <td>Row 2 Data 2</td>
            <td>Row 1 Data 2</td>
            <td>Row 1 Data 1</td>
            <td>Row 1 Data 2</td>
            <td>Row 1 Data 2</td>
        </tr>

        </tbody>
    </table>
</div>
<!-- End of the Table Data -->